@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

.toast-container {
  display: none !important;
}


/* Mobile bottom padding for fixed CTA */
@media (max-width: 1024px) {
  body {
    padding-bottom: 70px; /* Add padding to prevent content from being hidden behind the fixed CTA */
  }
  
  footer {
    padding-bottom: 80px; /* Ensure footer content isn't hidden */
  }
}

/* Ensure the mobile CTA doesn't show on larger screens */
@media (min-width: 1024px) {
  .lg\\:hidden {
    display: none !important;
  }
}
